<form novalidate #authForm="ngForm" class="m-3" autocomplete="off" (keydown)="onKeyDown($event)">
  <div class="wrapper fadeInDown form-group">
    <div id="formContent">
      <div class="container-fluid pt-3">
        <div class="row">
          <div class="col caption">
            <h4 class="caption">{{Caption}}</h4> 
          </div>
        </div>
        
        <div class="row">
          <div class="col">
            <div id="accordion">

              <div class="card">
                <div class="card-header" id="heading1">
                  <button type="button" class="btn btn-outline-secondary btn-lg btn-block fadeIn first card-button" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1" [ngClass]="deviceRepository.ValidationResult.mapClassValidationSet(['Identity.AlertAddress','Name','Visibility'])">
                    Allgemein
                  </button>
                </div>
                <div id="collapse1" class="collapse show" aria-labelledby="heading1" data-parent="#accordion">
                    <div class="card-body">
                      <div class="container-fluid card-body-content">
                        <div class="row mt-3">
                          <div class="col">
                            <label for="deviceName">Alarmgerätename</label>
                            <input type="text" id="deviceName" class="form-control" name="deviceName" [(ngModel)]="Device.name" (input)="ValidateForm()" [ngClass]="deviceRepository.ValidationResult.mapClassValidationSet(['Name'])" required>
                          </div>
                        </div>

                        <div class="row mt-3">
                          <div class="col">
                            <label for="alertAddress">Gerätekenner</label>
                            <input type="text" id="alertAddress" class="form-control" name="alertAddress" [(ngModel)]="Device.identity.alertAddress" (input)="ValidateForm()" [ngClass]="deviceRepository.ValidationResult.mapClassValidationSet(['Identity.AlertAddress'])" required>
                          </div>
                        </div>

                        <div class="row mt-3">
                          <div class="col">
                            <label for="visibility">Sichtbarkeit des Alarmgerätes</label>
                            <input type="text" id="visibility" class="form-control" name="visibility"[(ngModel)]="Device.visibility" (input)="ValidateForm()" [ngClass]="deviceRepository.ValidationResult.mapClassValidationSet(['Visibility'])" required>
                          </div>
                        </div>

                        <div class="row mt-3 mb-3">
                          <div class="col">
                            <label for="description">Die Beschreibung des Alarmgerätes</label>
                            <textarea type="text" class="form-control description" id="description" name="description"  [(ngModel)]="Device.description" (input)="ValidateForm()"></textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
              </div>

<!-------------------------------------------->
              <div class="card">
                <div class="card-header" id="heading2">
                  <button type="button" class="btn btn-outline-secondary btn-lg btn-block fadeIn first card-button" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapse2" (click)="QualificationFieldChanged(false)" [ngClass]="deviceRepository.ValidationResult.mapClassValidationSet(['Qualifications'])">
                    Qualifikationen
                  </button>
                </div>
                <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordion">
                  <div class="card-body">
                    <div class="container-fluid card-body-content">
                      <div class="row mt-3 ml-1">
                        <label for="qualification">Die Kürzel der Qualifikationen getrennt durch ein Komma</label>
                        <div class="col-sm-11" style="padding: 0">
                          <input type="text" id="qualification" class="form-control" name="qualification" [(ngModel)]="Device.qualifications" (input)="QualificationFieldChanged(true)" required>
                        </div>
                        <div class="col-sm-1" style="padding: 0;">
                          <button type="button" class="btn btn-light btn-sm btn-block" style="padding: 4px 0 4px 0;" (click)="OrderQualificationField()" title="Entfernt alle überflüssigen Leerzeichen und fügt welche für die bessere Lesbarkeit ein.&#13;Zusätzlich werden leere, doppelte Qualifikationen entfernt und diese nach Alphabet sortiert."> 
                            <img src="../../assets/order.png" style="width: 25px;">
                          </button>
                        </div>
                      </div>
                      <div class="row mt-3 mb-3">
                        <div class="col">
                          <div class="border container" style="max-height: 15em; overflow: auto;">
                            <div *ngFor="let qualification of qualifications" class="custom-control custom-checkbox ml-1">
                              <input class="custom-control-input" type="checkbox" value="" [name]="'qualification' + qualification.name" [id]="'qualification' + qualification.name"  [(ngModel)]="qualification.selected" (change)="QualificationCheckboxChanged()">
                              <label class="custom-control-label" [for]="'qualification' + qualification.name">
                                {{qualification.ToString()}}
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
<!-------------------------------------------->
              <div class="card">
                <div class="card-header" id="heading3">
                  <button type="button" class="btn btn-outline-secondary btn-lg btn-block card-button fadeIn second" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3" [ngClass]="deviceRepository.ValidationResult.mapClassValidationSet(['TelegramWay'])">
                    Wege
                  </button>
                </div>
                <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordion">
                    <div class="card-body">
                      <div class="row mt-3">
                        <div class="col">
                          <label for="telegramWay">Telegrammweg</label>
                          <select class="form-control selectpicker show-tick" id="telegramWay" name="telegramWay" [(ngModel)]="Device.telegramWay" [ngClass]="deviceRepository.ValidationResult.mapClassValidationSet(['TelegramWay'])" (change)="ValidateForm()">
                            <option [ngValue]="0">Keine Zustellung</option>
                            <option [ngValue]="3">Kurznachrichtendienst (SMS)</option>
                            <option [ngValue]="1">LvS Pager</option>
                            <option [ngValue]="2">Sprachsynthese</option>
                          </select>       
                        </div>
                      </div>

                      <div class="row mt-3 mb-3">
                        <div class="col">
                          <label for="exampleFormControlSelect1">Zusätzlich, erlaubte Telegrammwege</label>
                          <div class="border">
                            <div class="custom-control custom-checkbox ml-1">
                              <input class="custom-control-input" type="checkbox" value="" name="additionalWay1" id="additionalWay1" [(ngModel)]="bitmaskSMS" (change)="BitmaskChange()">
                              <label class="custom-control-label" for="additionalWay1">
                                Kurznachrichtendienst (SMS)
                              </label>
                            </div>
                            <div class="custom-control custom-checkbox ml-1">
                              <input class="custom-control-input" type="checkbox" value="" name="additionalWay2" id="additionalWay2" [(ngModel)]="bitmaskTelegram" (change)="BitmaskChange()">
                              <label class="custom-control-label" for="additionalWay2">
                                LvS Pager
                              </label>
                            </div>
                            <div class="custom-control custom-checkbox ml-1">
                              <input class="custom-control-input" type="checkbox" value="" name="additionalWay3" id="additionalWay3" [(ngModel)]="bitmaskSpeach" (change)="BitmaskChange()">
                              <label class="custom-control-label" for="additionalWay3">
                                Sprachsynthese
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
              </div>

<!-------------------------------------------->
              <div class="card">
                <div class="card-header" id="heading4">
                  <button type="button" class="btn btn-outline-secondary btn-lg btn-block card-button fadeIn third" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                    Standort
                  </button>
                </div>
                <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordion">
                    <div class="card-body">
                      <div class="container-fluid card-body-content">
                        <div class="row mt-3">
                          <div class="col">
                            <label for="station">Standort</label>
                            <input type="text" id="station" class="form-control" name="station" [(ngModel)]="Device.station" (input)="ValidateForm()" required>
                          </div>
                        </div>
                        <div class="row mt-3">
                          <div class="col">
                            <label for="latitude">Breitengrad</label>
                            <input type="number" id="latitude" class="form-control" name="latitude" [(ngModel)]="Device.stationPosition.latitude" (input)="ValidateForm()" required>
                          </div>
                        </div>
                        <div class="row mt-3 mb-3">
                          <div class="col">
                            <label for="longitude">Längengrad</label>
                            <input type="number" id="longitude" class="form-control" name="longitude" [(ngModel)]="Device.stationPosition.longitude" (input)="ValidateForm()" required>
                          </div>
                        </div>

                        <div class="row mt-3 mb-3">
                          <div class="col">
                            <button type="button" class="btn btn-outline-secondary btn-sm btn-block" (click)="ShowInGoogleMaps()" [disabled]="ShowInMapButtonDisabled()">
                              <div class="row">
                                <div class="col-sm-3" style="text-align: right; padding: 0;">
                                  <img src="../../assets/map.png" alt="User Icon" style="max-width: 30px;"/>
                                </div>
                                <div class="col-sm-9" style="text-align: left; margin-top: 5px;">
                                  <h6>Auf die Karte anzeigen</h6>
                                </div>
                              </div>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
              </div>

<!-------------------------------------------->
              <div class="card">
                <div class="card-header" id="heading5">
                  <button type="button" class="btn btn-outline-secondary btn-lg btn-block card-button fadeIn fourth" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                    Informationen
                  </button>
                </div>
                <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordion">
                    <div class="card-body">
                      <div class="container-fluid card-body-content">
                        <div class="row mt-3">
                          <div class="col">
                            <label for="pushToken">Push-Nachricht-Token des Alarmgerätes</label>
                            <textarea type="text" id="pushToken" class="form-control description information" name="pushToken" [value]="Device.TokenToString()" readonly></textarea>
                          </div>
                        </div>
                        <div class="row mt-3 mb-3">
                          <div class="col">
                            <label for="process">Prozessverhalten</label>
                            <textarea type="text" class="form-control description information" name="process" id="process"  [value]="ProcessBehaviour()" readonly></textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="row mt-1 fadeIn first" [ngStyle]="deviceRepository.ValidationResult.mapStyleValidationBlock()">
          <div class="col">
              <div *ngFor="let remark of deviceRepository.ValidationResult.fieldRemarks" [ngClass]="remark.mapClassValidationMessage()" class="alert validation-message" role="alert">
                  {{remark.ToString()}} 
              </div>
          </div>
        </div>

        <div class="row"  id="formFooter">
          <div class="col-sm-6 mt-3">
            <input type="button" class="fadeIn third" value="Erstellen" [disabled]="DisabledOkButton()" (click)="CloseForm(true)">
          </div>
          <div class="col-sm-6 mt-3">
            <input type="button" class="fadeIn third" value="Abbrechen" (click)="CloseForm(false)">
          </div>
        </div>
      </div>
    </div>
  </div>
</form>