<form novalidate #authForm="ngForm" class="m-3" autocomplete="off" (keydown)="onKeyDown($event)" style="width: 100%; ">
  <div class="wrapper fadeInDown form-group" style="width: 100%;">
    <div id="formContent" style="width: 100%;">
      <div class="container-fluid pt-3">
        <div class="row mt-2">
          <div class="col caption">
            <h4 class="caption">Standortquelle auswählen</h4> 
          </div>
        </div>
        <div class="row">
          <div class="col">
            <input class="form-control form-control-sm mr-sm-2" name="SearchText" type="search" placeholder="Geräteliste durchsuchen" [(ngModel)]="SearchText" (input)="ApplyFilter()">
          </div>
        </div>
        <div class="row">
          <div class="col" style="max-height: 500px; overflow:auto;">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col" class="col-xs-2 table-header ">
                    Gerätekenner
                  </th>
                  <th scope="col" class="col-xs-3 table-header">
                    Name
                  </th>
                  <th scope="col" class="col-xs-2 table-header">
                    Funktionen
                  </th>
                  <th scope="col" class="col-xs-3 table-header">
                    Berechtigungen
                  </th>
                  <th scope="col" class="col-xs-2 table-header">
                    Sichtbarkeit
                  </th>
                </tr>
              </thead>
              <tbody >
                <tr *ngFor="let device of DataFiltered" class="table-row" [ngClass]="mapClassSelected(device)" (click)="onClick(device)" style="cursor: pointer;">
                  <td scope="col" class="col-xs-2">
                    {{ device.identity.alertAddress }}
                  </td>
                  <td scope="col" class="col-xs-3">
                    {{ device.name }}
                  </td>
                  <td scope="col" class="col-xs-2">
                    {{ device.qualifications }}
                  </td>
                  <td scope="col" class="col-xs-3">
                    {{ device.station }}
                  </td>
                  <td scope="col" class="col-xs-2">
                    {{ device.visibility }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row mt-1"  id="formFooter">
          <div class="col-sm-6 mt-3">
            <input type="button" class="fadeIn third" value="Erstellen" [disabled]="!SelectedItem" (click)="CloseForm(true)">
          </div>
          <div class="col-sm-6 mt-3">
            <input type="button" class="fadeIn third" value="Abbrechen" (click)="CloseForm(false)">
          </div>
        </div>
      </div>
    </div>
  </div>
</form>