<form novalidate #authForm="ngForm" class="m-3" autocomplete="off" (keydown)="onKeyDown($event)">
    <div class="wrapper fadeInDown">
      <div id="formContent">
        <div class="container-fluid pt-3">
          <div class="row mt-2">
            <div class="col caption">
              <h4 class="caption">Berechtigung</h4> 
            </div>
          </div>
          <div class="row mt-1">
            <div class="col">
              <label for="Pin">Persönliche Identifikationsnummer (PIN)</label>
              <input type="text" id="Pin" class="form-control" name="Pin" [(ngModel)]="Pin">
            </div>
          </div>
          <div class="row mt-1 mb-2">
            <div class="col">
              <label for="Permissions">Berechtigungen</label>
              <div class="border">
                <div class="custom-control custom-checkbox ml-1">
                  <input class="custom-control-input" type="checkbox" value="" name="Right1" id="Right1" [(ngModel)]="Rights[0]">
                  <label class="custom-control-label" for="Right1">
                    Alarmrückmeldungen anzeigen
                  </label>
                </div>
                <div class="custom-control custom-checkbox ml-1">
                  <input class="custom-control-input" type="checkbox" value="" name="Right2" id="Right2" [(ngModel)]="Rights[1]">
                  <label class="custom-control-label" for="Right2">
                    Ereignisposition
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-1"  id="formFooter">
            <div class="col-sm-6 mt-3">
              <input type="button" class="fadeIn third" value="Erstellen" (click)="CloseForm(true)">
            </div>
            <div class="col-sm-6 mt-3">
              <input type="button" class="fadeIn third" value="Abbrechen" (click)="CloseForm(false)">
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>