<nav class="navbar navbar-expand-lg navbar-light border">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown" style="width: 8em;" title="Typ Filter">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{repository.filter.TelegramWayToString()}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="font-size: 1em;">
              <a class="dropdown-item" href="#" [ngClass]="mapClassFilterTelegramWaySelected(-1)" (click)="SetFilterTelegramWay(-1)">Alle Typen</a>
              <a class="dropdown-item" href="#" [ngClass]="mapClassFilterTelegramWaySelected(1)" (click)="SetFilterTelegramWay(1)" style="color: rgb(255,97,7);">Pager</a>
              <a class="dropdown-item" href="#" [ngClass]="mapClassFilterTelegramWaySelected(2)" (click)="SetFilterTelegramWay(2)" style="color: rgb(70,163,28);">Telefon</a>
              <a class="dropdown-item" href="#" [ngClass]="mapClassFilterTelegramWaySelected(3)" (click)="SetFilterTelegramWay(3)" style="color: rgb(0,123,195);">SMS</a>
            </div>
        </li>

        <li class="divider-vertical"></li>

        <li class="nav-item dropdown" style="width: 5em;" title="Qualifikation Filter">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{this.repository.filter.qualification}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="font-size: 1em; max-width: 10px !important;">
              <a class="dropdown-item" href="#" (click)="SetFilterQualification('--')">--</a>
              <a *ngFor="let item of repository.Qualifications;" class="dropdown-item" href="#" (click)="SetFilterQualification(item)">
                {{item}}
              </a>
            </div>
        </li>
        
        <li class="divider-vertical"></li>

        <li class="navbar-button navbar-button-enabled" (click)="SetViewMode(0)">
          <img [src]="getOnOffIco('cards', viewMode == 0)" alt="User Icon" title="Kärtchen"/>
        </li>
        <li class="navbar-button navbar-button-enabled" (click)="SetViewMode(1)">
          <img [src]="getOnOffIco('list', viewMode == 1)" alt="User Icon" title="Tabelle"/>
        </li>
        <li class="divider-vertical"></li>
        <li class="navbar-button navbar-button-enabled"  (click)="ChangeSelection(0)">
          <img src="../../assets/select-all.png" alt="User Icon" title="Wählen alles"/>
        </li>
        <li class="divider-vertical"></li>
        <li class="navbar-button navbar-button-enabled" (click)="ChangeSelection(1)" >
          <img src="../../assets/select-none.png" alt="User Icon" title="Wählen nichts"/>
        </li>
        <li class="divider-vertical"></li>
        <li class="navbar-button navbar-button-enabled" (click)="ChangeSelection(2)">
          <img src="../../assets/select-invert.png" alt="User Icon" title="Auswahl umkehren"/>
        </li>
        <li class="divider-vertical"></li>
        <li class="navbar-button" [ngClass]="mapClassButtonToSelection(2)" (click)="FillPositions()" >
          <img [src]="getOnOffIco('houses', selectedItems.length > 1)" alt="User Icon" style="width: 55px;" title="Kopiert die Standortdaten auf alle ausgewählten Alarmgeräte"/>
        </li>
        <li class="divider-vertical" ></li>
        <li class="navbar-button" [ngClass]="mapClassButtonToSelection(1)" (click)="PinRights()">
          <img [src]="getOnOffIco('key', selectedItems.length > 0)" alt="User Icon" title="Öffnet die Bearbeitung der Berechtigungen für alle ausgewählten Alarmgeräte"/>
        </li>
        <li class="navbar-button" [ngClass]="mapClassButtonToSelection(1)" (click)="Discard()" >
          <img [src]="getOnOffIco('deny', selectedItems.length > 0)" alt="User Icon" title="Verwirft die Registrierung der ausgewählten Alarmgeräte, sodass diese nicht mehr kommunizieren können"/>
        </li>
        <li class="divider-vertical" ></li>
        <li class="navbar-button" [ngClass]="mapClassButtonToSelection(1)" (click)="SendAlert()">
          <img [src]="getOnOffIco('alert', selectedItems.length > 0)" alt="User Icon" style="width: 22px;" title="Sendet eine Alarmierung an die ausgewählten Alarmgeräte"/>
        </li>
        <li class="divider-vertical"></li>
        <li class="navbar-button" [ngClass]="mapClassButtonToSelection(1)" (click)="CloudRegistration()" >
          <img [src]="getOnOffIco('cloud', selectedItems.length > 0)" alt="User Icon" title="Sendet Cloud-Anmeldeinformationen an die ausgewählten Alarmgeräte"/>
        </li>
        <li class="divider-vertical"></li>

      </ul>
      <div class="form-inline my-2 my-lg-0">
        <input class="form-control form-control-sm mr-sm-2" type="search" placeholder="Geräteliste durchsuchen" aria-label="Search" [(ngModel)]="repository.filter.searchText">
        <button class="btn btn-outline-success btn-sm my-2 my-sm-0" type="button" (click)="GetData()">Suchen</button>
        <button class="btn btn-outline-secondary btn-sm my-2 my-sm-0 ml-1" type="button" (click)="ClearFilter()">Klären</button>
      </div>
    </div>
</nav>
<div *ngIf="repository.Data.length > 0" class="container-fluid fadeInDown">

  <div *ngIf="viewMode == 0"> <!-- cards -->
    <div *ngFor="let deviceSet of packDevice(4, repository.Data)" class="row mt-1 mb-3">
      <div *ngFor="let device of deviceSet" class="col-md-3" [ngStyle]="mapStyleVisibleDevice(device)" (dblclick)="onDblClick(device)">
        <div class="devicecard border shaded" [ngClass]="mapClassSelected(device)" (click)="onClick($event, device)" >
          <div class="container"  [ngClass]="mapClassStateMark(device)" >
            <div class="row">
              <div class="col-xs-1 ml-1">
                <img class="mt-1" [src]="'../../assets/' + device.getIco()" alt="User Icon" style="max-width: 20px;"/>
              </div>
              <div class="col-xs-5 ml-1" [ngStyle]="mapStyleFontDevice(device)">
                <h6 class="mt-1">{{ device.identity.alertAddress }}</h6>
              </div>
              <div class="col" style="color: grey; text-align: right;">
                <p>{{ device.visibility }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col" >
                <h6 style="margin: 0 0 5px -10px;">{{ device.name + ' (' + device.TelegramWayToString() + ')'}}</h6>
              </div>
            </div>
            <div class="row" style="font-size: 1.3em; padding-left: 5px;">
              <div *ngFor="let item of device.Qualifications(); let even=even; let odd=odd;">
                <span *ngIf="even" class="badge badge-secondary mr-1 mb-1" style="min-width: 3em;">{{item}}</span>
                <span *ngIf="odd"  class="badge badge-info mr-1 mb-1" style="min-width: 3em;">{{item}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="viewMode == 1"> <!-- list -->
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col" class="col-xs-2 table-header" style="position: relative;">
            <button type="button" class="btn btn-light btn-sm btn-block table-header-button" style="position: absolute; left: 0; right: 0; top: 0; bottom: 0;" (click)="ApplySorting('alertAddress')">
              <img [src]="GetSortingIco('alertAddress')" alt="User Icon" class="sorting-ico"/>
              Gerätekenner
            </button>
          </th>
          <th scope="col" class="col-xs-3 table-header" style="position: relative;">
            <button type="button" class="btn btn-light btn-sm btn-block table-header-button" style="position: absolute; left: 0; right: 0; top: 0; bottom: 0;" (click)="ApplySorting('name')">
              <img [src]="GetSortingIco('name')" alt="User Icon" class="sorting-ico"/>
              Name
            </button>
          </th>
          <th scope="col" class="col-xs-2 table-header" style="position: relative;">
            <button type="button" class="btn btn-light btn-sm btn-block table-header-button"  style="position: absolute; left: 0; right: 0; top: 0; bottom: 0;" (click)="ApplySorting('qualifications')">
              <img [src]="GetSortingIco('qualifications')" alt="User Icon" class="sorting-ico"/>
              Funktionen
            </button>
          </th>
          <th scope="col" class="col-xs-3 table-header" style="position: relative; min-width: 150px;">
            <button type="button" class="btn btn-light btn-sm btn-block table-header-button" style="position: absolute; left: 0; right: 0; top: 0; bottom: 0;" (click)="ApplySorting('station')">
              <img [src]="GetSortingIco('station')" alt="User Icon" class="sorting-ico"/>
              Berechtigungen
            </button>
          </th>
          <th scope="col" class="col-xs-2 table-header">
            <button type="button" class="btn btn-light btn-sm btn-block table-header-button" (click)="ApplySorting('visibility')">
              <img [src]="GetSortingIco('visibility')" alt="User Icon" class="sorting-ico"/>
              Sichtbarkeit
            </button>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let device of repository.Data" class="table-row" [ngClass]="mapClassSelected(device)" [ngStyle]="mapStyleVisibleDevice(device)" (click)="onClick($event, device)" (dblclick)="onDblClick(device)">          
          <td class="col-xs-2">
            <div class="container" [ngClass]="mapClassStateMark(device)">
              <div class="row" style="width: 220px; padding-left: 5px;">
                <div class="col-xs-1">
                  <img [src]="'../../assets/' + device.getIco()" alt="User Icon" style="max-width: 35px;"/>
                </div>
                <div class="col-xs-11 ml-2 mt-2" [ngStyle]="mapStyleFontDevice(device)">
                  <p>{{ device.identity.alertAddress }}</p>
                </div>
              </div>
            </div>
          </td>
          <td class="col-xs-3"><p class="mt-2">{{ device.name + ' (' + device.TelegramWayToString() + ')'}}</p></td>
          <td class="col-xs-2">
            <div class="container">
              <div class="row">
                <div *ngFor="let item of device.Qualifications(); let even=even; let odd=odd;" class="col-xs-1" style="font-size: larger;">
                  <span *ngIf="even" class="badge badge-secondary ml-1 mb-1" style="min-width: 4em;">{{item}}</span>
                  <span *ngIf="odd"  class="badge badge-info ml-1 mb-1" style="min-width: 4em;">{{item}}</span>
                </div>
              </div>
            </div>
          </td>
          <td class="col-xs-3"><p class="mt-2">{{ device.station }}</p></td>
          <td class="col-xs-2"><p class="mt-2">{{ device.visibility }}</p></td>
        </tr>
      </tbody> 


    </table>
  </div>
</div>

<div *ngIf="repository.Data.length == 0">
  <h1 style="color: lightgray;" class="mt-5 text-center">Die Liste ist leer.</h1>
</div>
