<form novalidate #authForm="ngForm" class="m-3" autocomplete="off" (keydown)="onKeyDown($event)">
    <div class="wrapper fadeInDown form-group">
        <div id="formContent">
            <div class="container-fluid pt-3">
                <div class="row mt-3">
                    <div class="col caption">
                        <h4 class="caption">{{Caption}}</h4> 
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <label for="groupName">Alarmgruppenname</label>
                        <input type="text" class="fadeIn first form-control" id= "groupName" [ngClass]="repository.ValidationResult.mapClassValidationSet(['Name'])" name="groupName" [(ngModel)]="Group.name" (input)="ValidateForm()" required>
                    </div>
                </div>
                <div class="row mt-3 mb-3">
                    <div class="col">
                        <label for="groupDescription">Die Beschreibung der Alarmgruppe</label>
                        <textarea type="text" class="fadeIn second form-control description" [ngClass]="repository.ValidationResult.mapClassValidationSet(['Description'])" id="groupDescription" name="groupDescription" [(ngModel)]="Group.description" (input)="ValidateForm()"></textarea>
                    </div>
                </div>
                <div class="row mt-1 fadeIn first" [ngStyle]="repository.ValidationResult.mapStyleValidationBlock()">
                    <div class="col">
                        <div *ngFor="let remark of repository.ValidationResult.fieldRemarks" [ngClass]="remark.mapClassValidationMessage()" class="alert validation-message" role="alert">
                            {{remark.ToString()}} 
                        </div>
                    </div>
                </div>
                <div class="row mt-1"  id="formFooter">
                    <div class="col-sm-6 mt-3">
                        <input type="button" class="fadeIn third" value="Erstellen" [disabled]="DisabledOkButton()" (click)="CloseForm(true)">
                    </div>
                    <div class="col-sm-6 mt-3">
                        <input type="button" class="fadeIn third" value="Abbrechen" (click)="CloseForm(false)">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>