.bold-font{
  font-weight: bold;
}

.table-row{
  line-height: 0.5rem; 
  min-height: 0.5rem; 
  height: 0.5rem; 
  cursor: pointer;
  line-height: 100%;
}

.selected {
  background-color: lightblue;
}

table
{
  table-layout: fixed;
}

.datarow{
  padding: 10px 0 0 0;
}

.divider-vertical {
  height: 40px;
  margin: 0 9px;
  border-left: 1px solid rgb(221, 220, 220);
  border-right: 1px solid #FFF;
  margin: 0;
}

.navbar-button{
  min-width: 50px;
  text-align: center;
}

.navbar-button:hover{
  background-color: lightblue;
}