<nav class="navbar navbar-expand-lg navbar-light border" style="font-weight: bold; font-size: smaller; height: 45px; padding-left: 5px;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="navbar-button"  (click)="ChangeSelection(0)">
        <img src="../../assets/select-all.png" alt="User Icon" class="mt-1" style="width: 30px; cursor: pointer;" title="Wählen alles"/>
      </li>
      <li class="divider-vertical"></li>
      <li class="navbar-button" (click)="ChangeSelection(1)">
        <img src="../../assets/select-none.png" alt="User Icon" class="mt-1" style="width: 30px; cursor: pointer;" title="Wählen nichts"/>
      </li>
      <li class="divider-vertical"></li>
      <li class="navbar-button" (click)="ChangeSelection(2)" >
        <img src="../../assets/select-invert.png" alt="User Icon" class="mt-1" style="width: 30px; cursor: pointer;" title="Auswahl umkehren"/>
      </li>
      <li class="divider-vertical"></li>
      <li class="navbar-button" (click)="SendAlert()">
        <img src={{getAlertIco()}} alt="User Icon" class="mt-1" style="height: 30px; cursor: pointer;" title="Sendet eine Alarmierung an die ausgewählten Alarmgruppe"/>
      </li>
      <li class="divider-vertical"></li>

    </ul>
  </div>
</nav>

<div style="height: calc( 100vh - 50px); overflow: auto;">
  <table class="table table-hover fadeInDown" style="font-size: smaller;">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Beschreibung</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let group of repository.Data" [ngClass]="mapClassSelected(group)" class="table-row" (click)="onClick($event, group)" (dblclick)="Edit()">
        <td class="bold-font" style="width: 220px;">
          <div class="container">
            <div class="row">
              <div class="col">
                {{group.name}}
              </div>
            </div>
          </div>
        </td>
        <td class="datarow">{{group.description}}</td>
      </tr>    
    </tbody>
  </table>
</div>