<div style="height: calc( 100vh - 50px); overflow: auto;">
  <table class="table table-hover fadeInDown" style="font-size: smaller;">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Beschreibung</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let qualification of repository.Data" [ngClass]="mapClassSelected(qualification)" class="table-row" (click)="onClick($event, qualification)" (dblclick)="Edit()">
        <td class="bold-font">
          <div class="container">
            <div class="row">
              <div class="col">
                {{qualification.name}}
              </div>
            </div>
          </div>
        </td>
        <td>{{qualification.description}}</td>
        <td></td>
      </tr>    
    </tbody>
  </table>
</div>