table
{
    table-layout: fixed;
    column-width: 30px;
}

td
{
    border: 1px solid lightgrey;
    height: 100px;
}

.row-groups {
    transform: rotate(-90deg);
    margin-top: 60px;
    width: 30px;
    resize: horizontal;
}

.column-devices{
    width: 150px;
    margin-left: 1em;
    resize: horizontal;
}

.edit-button:hover{
    cursor: pointer;
    background-color: lightblue;
}

.data-cell{
    width: 30px;
    padding: 0;
}

.datarow{
    height: 30px;
    padding-left: 0;
}

.btn-block {
    padding: 15px; 
}

.navbar{
    font-weight: bold; 
    font-size: smaller; 
    height: 3.5em;
}

.select-button{
    width: 30px;
    cursor: pointer;
}

.select-button:hover{
    background-color: lightblue;
}

@media screen and (max-width: 1000px) {
    .navbar{
      height: auto;
    }
  }