<div class="sidebar" [ngClass]="mapClassDisabled()">
  <div class="sidebar-header">
    <img src="../assets/LvS.png" alt="LvS">
    <p>Leitstellenverbund Service</p>
  </div>
  <div *ngIf="application.MustLogOn" class="logon dropdown show">
    <a href="#" role="button" class="unlogged" (click)="ShowModal('Logon')">
    Anmeldung
    </a>
  </div>
  <div *ngIf="!application.MustLogOn" class="logon dropdown show">
    <a href="#logonSubmenu" role="button" class="logged dropdown-toggle" data-toggle="collapse" aria-haspopup="true" aria-expanded="false">
      {{session.cloudLogOnData.userLogOnName + "/" + session.cloudLogOnData.clientIdentity}}
    </a>
    <ul class="collapse list-unstyled" id="logonSubmenu">
      <li>
        <a class="content-menu-item" href="#" (click)="ShowModal('ChangePassword')">Passwort ändern</a>
      </li>
      <li>
        <a class="content-menu-item" href="#" (click)="SessionLogOff()">Abmelden</a>
      </li>
      <hr>
    </ul>
  </div>

  <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle bold-font content-menu-item">
    <img src="../assets/alarm-device.png" class="sidebar-group-ico">
    Alarmgerätverwaltung
  </a>
  <ul class="collapse list-unstyled" id="pageSubmenu">
    <li>
      <a href="#" class="dropdown-item content-menu-item" (click)="SetMode('Device')" [ngClass]="mapModeFont('Device')">Geräteübersicht</a>
    </li>
    <li>
      <a href="#" class="dropdown-item content-menu-item" (click)="SetMode('Group')" [ngClass]="mapModeFont('Group')">Benachrichtungsgruppen</a>
    </li>
    <li>
      <a href="#" class="dropdown-item content-menu-item"  (click)="SetMode('Link')" [ngClass]="mapModeFont('Link')">Zuordnungsmatrix</a>
    </li>
    <li>
      <a href="#" class="dropdown-item content-menu-item"  (click)="SetMode('Qualification')" [ngClass]="mapModeFont('Qualification')">Qualifikationen</a>
    </li>
  </ul>
<!--
  <a href="#" class="bold-font content-menu-item">
    <img src="../assets/access.png" class="sidebar-group-ico">
    Zugriffvervaltung
  </a>
  <a href="#contact" class="bold-font content-menu-item">
    <img src="../assets/consumption.png" class="sidebar-group-ico">
    Verbrauch
    <img src="../assets/exclaim.png" style="margin: -5px 0 0 60px; width: 25px;">
  </a>
-->
  <div *ngIf="!application.MustLogOn" class="sidebar-footer">
    <p>{{application.DeviceCountTotal}} von {{application.DeviceCountLimit}} Gerättelizenten in Vervendung</p>
    <div class="progress border">
      <div class="progress-bar" role="progressbar" [ngStyle]="mapStyleProgressLimit()" aria-valuenow="10" aria-valuemin="0" aria-valuemax="50"></div>
    </div>
  </div>
</div>

<div class="content">
  <div class="content-header">
    <h4>{{application.Caption}}</h4>
  </div>
  <div class="content-work">
    <div *ngIf="application.ModeStr() == 'Unlogged'">
      <app-unloged></app-unloged>
    </div>
    <div *ngIf="application.ModeStr() == 'Device'" [ngClass]="mapClassDisabled()">
      <app-device></app-device>
    </div>
    <div *ngIf="application.ModeStr() == 'Group'" [ngClass]="mapClassDisabled()">
      <app-group></app-group>
    </div>
    <div *ngIf="application.ModeStr() == 'Link'" [ngClass]="mapClassDisabled()">
      <app-link></app-link>
    </div>
    <div *ngIf="application.ModeStr() == 'Qualification'" [ngClass]="mapClassDisabled()">
      <app-qualification></app-qualification>
    </div>

    <div *ngIf="application.ModalFormStr() == 'Logon'" class="centered">
      <app-session-log-on></app-session-log-on>
    </div>
    <div *ngIf="application.ModalFormStr() == 'ChangePassword'" class="centered">
      <app-change-password></app-change-password>
    </div>
    <div *ngIf="((application.ModalFormStr() == 'GroupAdd') || (application.ModalFormStr() == 'GroupEdit'))" class="centered">
      <app-add-group></app-add-group>
    </div>
    <div *ngIf="((application.ModalFormStr() == 'DeviceAdd') || (application.ModalFormStr() == 'DeviceEdit'))" class="centered">
      <app-add-device></app-add-device>
    </div>
    <div *ngIf="(application.ModalFormStr() == 'DeviceFillPosition')" class="centered">
      <app-device-fill-position></app-device-fill-position>
    </div>
    <div *ngIf="(application.ModalFormStr() == 'DevicePinRights')" class="centered">
      <app-device-pin-rights></app-device-pin-rights>
    </div>
    <div *ngIf="((application.ModalFormStr() == 'QualificationAdd') || (application.ModalFormStr() == 'QualificationEdit'))" class="centered">
      <app-add-qualification></app-add-qualification>
    </div>
    <div *ngIf="(application.ModalFormStr() == 'SendAlert')" class="centered">
      <app-alert></app-alert>
    </div>

    <div *ngIf="application.ModalFormStr() == 'Dialog'" class="centered">
      <app-dialog></app-dialog>
    </div>
  </div>

  <button type="button" class="btn round-button mr-2" [ngClass]="mapClassAddButtonVisible()" (click)="Add()" style="right: 220px;" [disabled]="!application.AddButtonEnabled">
    <img src="../assets/add.png" alt="LvS">
  </button> 
  <button type="button" class="btn round-button mr-2" [ngClass]="mapClassAddButtonVisible()" (click)="Delete()" style="right: 120px;" [disabled]="!application.DelButtonEnabled">
    <img src="../assets/delete.png" alt="LvS">
  </button> 
  <button type="button" class="btn round-button mr-2" [ngClass]="mapClassAddButtonVisible()" (click)="Edit()" style="right: 20px;" [disabled]="!application.EditButtonEnabled">
    <img src="../assets/edit.png" alt="LvS" style="width: 55px; margin-top: -65px;">
  </button> 
</div>

